contracts/interfaces/@OpenZeppelin/IERC20.sol* linguist-vendored

contracts/interfaces/OneInch/IOneSplit.sol* linguist-vendored

contracts/libraries/DyDx/Types.sol* linguist-vendored
contracts/libraries/DyDx/Actions.sol* linguist-vendored
contracts/libraries/DyDx/Account.sol* linguist-vendored

contracts/interfaces/DyDx/ISoloMargin.sol* linguist-vendored
contracts/interfaces/DyDx/ICallee.sol* linguist-vendored

test/dai.abi.js* linguist-vendored
test/erc20.abi.js* linguist-vendored
